* {
    margin: 0;
    font-family: sans-serif;
}

html,
body {
    min-width: 100vh;
    min-height: 100vh;
}

body {
    background: url(./img/file.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: 20px auto;
    max-width: 960px;
}

.text_center {
    text-align: center;
}

header h1 {
    background: rgb(255, 255, 255, .7);
    padding: 20px 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.block {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

.tetris-wrap {
    background: rgb(255, 255, 255, .7);
    width: 300px;
    height: 500px;
    margin: 20px auto;
    overflow: hidden;
}

#tetris-field {
    width: 300px;
    height: 500px;
    margin: 2px;
}

.text-field {
    background: rgb(255, 255, 255, .7);
    margin: 20px auto;
    padding: 20px;
}

.start {
    border: none;
    border-radius: 20px;
    background: rgb(42, 133, 6);
    display: block;
    width: 30%;
    padding: 20px 30px;
    margin: 0 auto;
    font-size: 20px;
}

.text {
    margin-top: 30px;
}

li {
    font-size: 20px;
}

.score-field {
    font-size: 42px;
    padding: 30px 0;
}

.white {
    width: 33px;
    height: 33px;
    background: #fff;
    border-radius: 100%;
    float: left;
}

.orange {
    width: 33px;
    height: 33px;
    background: orange;
    border-radius: 100%;
    float: left;
}

.red {
    width: 33px;
    height: 33px;
    background: red;
    border-radius: 100%;
    float: left;
}

.green {
    width: 33px;
    height: 33px;
    background: green;
    border-radius: 100%;
    float: left;
}

.blue {
    width: 33px;
    height: 33px;
    background: blue;
    border-radius: 100%;
    float: left;
}

.indigo {
    width: 33px;
    height: 33px;
    background: indigo;
    border-radius: 100%;
    float: left;
}